body{
    background-color: bisque;
    color: grey;
    font-family: 'Karla', sans-serif;
}
.bodyform{
    margin: 10%;
}
.seccion{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.subTitleForm{
    background-color: rgb(9, 102, 69);
    margin: 0;
    color: aliceblue;
    text-align: center;
}
.head{
    width: 100%;
}

.titleform{
    width: 70%;
}
.tickform{
    width: 30%;
}

  

a {
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: #2D4B73;
    font-size: 20px;
    font-weight: 500;
    border: dotted crimson 0.2em;   
}
#card-btn {
    background-color: coral;
    border: none;
    color:lightblue;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#name, #email-input {
    height: 25px;
    padding: 5px;
}

#btn-main {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
}

.profile {
    background-color:blueviolet ;
    border-radius: 5px;
    color: white;
    border: solid coral 1px;
    text-align: center;
    padding: 20px;
}


