p{
    background-color: teal;
}
.ch35{
    background-color: aliceblue;
}
#Rey{
    color: blue;
}


div{
    width: 200;
    height: 200;
    margin: 20px 50px;
    padding: 30px;
    border: solid;
}

.casa2{
    background-color: aliceblue;
}